# 平台与机型
CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_TPLINK_TL_WR703N_V1=y

# 内置USB存储全套驱动（固化进固件，不占overlay）
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y

# 精简省空间，砍掉占用闪存的组件，控制固件<3.8M
CONFIG_PACKAGE_usbutils=n
CONFIG_PACKAGE_libusb=n
CONFIG_PACKAGE_libusb-compat=n
CONFIG_IPV6=n
CONFIG_LUCI_LANG_OTHERS=n
CONFIG_LUCI_LANG_ENGLISH=y
CONFIG_LUCI_LANG_ZH_CN=y
